@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

.navbar {
    padding: 15px;
    color: #28190E;
    background-color: #b2ab95;
    display: flex;
    margin: 10px;
    width: 1400px;
    font-family: 'Varela', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.logo img {
    align-items: center;
    height: 150px;
    width: 250px;
    float: inline-start;
}

.navbarOptions {
    float: inline-end;
    color: #28190E;
    background-color: #b2ab95;
}

ul {
    list-style: none;
    text-align: right;
}

a {
    color: #28190E;
    text-align: center;
    text-decoration: none;
}

.home, .fav, .acc {
    height: 150px;
    width: 150px;
    align-items: center;
    padding: 15px;
    float: right;
}


