@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:#cddfdb;
}
  
body {
  font-family: 'Varela Round' , sans-serif;
  color: #28190E;
  background-color:#cddfdb;
}
  
  code {
    font-family: 'Varela Round' sans-serif,
      monospace;
  }
  
  h4{
    font-size: small;
    color: #28190E
  }
  
  h1 {
    font-size: large;
    letter-spacing: 0.9px;
    background-clip: text;
    width: fit-content;
  }

  h2, h3 {
    font-size: medium;
    color: #28190E;
    text-align: center;
  }
  
  a{
    color: #28190E;
  }