@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

 .search {  
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: #d3cdc5;
 }
    
    .recipes {
        flex: 1;
        border: none;
        font-size: 1.5rem;
        font-family:'Varela', sans-serif;
        font-weight: 500;
        padding-right: 1rem;
      
        outline: none;
        color: #d3cdc5;
        background: #d3cdc5;
    }

    .search img {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }