@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

.footer {
    padding: 15px;
    color: #28190E;
    background-color: #b2ab95;
    display: flex;
    margin: 10px;
    width: 1400px;
    height: 150px;
}