h4{
    color: #28190E;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.column-4 {
    float: left;
    width: 10px;
    padding: 20px;
    margin: 15px;
    height: 10px;
  }

  .foodIcon {
    background-color: #b2ab95;
    background-size: cover;
    text-align: center;
  }

  .foodText:hover {
    background-color: #c0b9a0;
 }